body {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  
  .sender-column {
    text-align: right;
  }
  
  h1 {
    font-size: 1.5em;
  }
  
  h2 {
    font-size: 1.3em;
  }
  
  p,ul,ol,dl,address {
    font-size: 1.1em;
  }
  
  p, li, dd, dt, address {
    line-height: 1.5;
  }

.test {
    padding-left: 43px;
    margin: 0;
}

p {
    margin: 0;
}

span {
    border-bottom: 1px dotted black;
}

.esq {
    border-bottom: 1px dotted rgb(160, 160, 160);
}